CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
cmake.h
commit.h
_CPack_Packages
patches
*.exe
*~

# added for automation
*taskd-1.1.0/*
scripts/logs*
taskd-1.1.0.tar.gz
scripts/taskd.service
